<!doctype html>
<html>
    <head>

        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="shortcut icon" type="image/png" href="favicon.png">
        {% if page.layout == 'post' %} 
        {% assign canonical_url_is_not_empty = page.canonical_url | is_not_empty %}
        {% if canonical_url_is_not_empty %}
        <link rel="canonical" href="{{ page.canonical_url }}"/>
        {% endif %}
        {% endif %}

    </head>
    <body>

        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <script>
	(function() {
		var script = document.createElement('script');
		window.counter = 'https://dbaboci.goatcounter.com/count'
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';

		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
        </script>

    </body>
</html>
